html,
*,
:root,
h2,
h3 {
    font-family: Minecraft;
    color: #20C20E;
}

h2 {
    text-align: center !important;
}

h3 {
    margin-bottom: 1.5rem;
    padding-left: 0.3rem;
    background-color: #20C20E;
    border: #20C20E;
    color: black;
    /* text-align: center; */
}

[data-theme=dark],
:root:not([data-theme=light]),
:root:not(input[type=submit]) {
    --pico-background-color: #000000;
    --pico-primary: #20C20E;
    --pico-primary-hover: #20C20E;
    --pico-primary-focus: #20c20e2e;
    --pico-primary-inverse: #FFF;
}

input[type=submit] {
    --pico-background-color: var(--form-element-background-color);
}

input[value=delete]:hover {
    --pico-background-color: rgb(174, 3, 3);
    --pico-primary-hover: rgb(174, 3, 3);
    --pico-primary-focus: rgb(174, 3, 3);
    --pico-primary: red;
}

input[type=submit],
input[value=delete] {
    transition: 0.05s linear;
}

input[type=submit]:active,
input[value=delete]:active {
    transform: scale(.98);
}